body{
width:50%;
text-align: center;
margin-left: 25%;
background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.5rem;
font-family: "Palatino Linotype", "Book Antiqua", serif;
align-items: center;
}

#box{
margin-top: 100px;
background-color: silver;
padding: 20px;
background-size: auto;
}

#answer-word{
  font-size: 4rem;
}
#wrongGuess{
  
}

button{
  font-size: 1.7rem;
  border-radius: 10px;
  height:3rem;
  width:3rem;
  background-color: black;
  background-position: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}

.hangmanContainer{
  width:50%;
  float:right;
}

.letterStuff{
  width:50%;
}

.drawArea{
width: 200px;
height: 200px;
text-align: center;
}

.head{
margin: auto;
height: 30px;
width: 30px;
border-radius:15px;
background:#000;
}
.armbox{
  margin: auto;
  width: 100px;
}
.leftarm{
  float:left;
  height: 10px;
  width: 45px;
  background:#000;
}
.rightarm{
  float:right;
  height: 10px;
  width: 45px;
  background:#000;
}
.torso{
  margin:auto;
  width: 10px;
  height:50px;
  background:#000;
}
.legbox{
  margin:auto;
  width: 30px;
  height: 60px;
}
.leftleg{
  float:left;
  height: 60px;
  width: 10px;
  background:#000;
}
.rightleg{
  float:right;
  height: 60px;
  width: 10px;
  background:#000;
}
.pelvis{
  margin: auto;
  width: 10px;
  height: 10px;
  background:#000;
}

.topLine{
  width: 108px;
  height:5px;
  background: black;
}
.bottomLine{
  width: 150px;
  height:5px;
  background: black;
}
.leftLine{
  width: 5px;
  height:200px;
  background: black;
  float:left;
}
.rope{
  margin: auto;
  width: 5px;
  height:25px;
  background: grey;
}

input{
  font-size: 1.2rem;
  border-radius: 10px;
  height:2.5rem;
  width:9rem;
  background-color: black;
  background-position: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
